/* carga-turno-paciente.component.css */

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.toggle-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: #0056b3;
}

.form-container {
    display: flex;
    justify-content: center;
}

.formulario-turno {
    width: 100%;  /* Aumentando el ancho al 100% para ocupar todo el espacio disponible */
    max-width: 800px; /* Ajustando el ancho máximo a 800px */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #218838;
}
.btn.btn-outline-secondary.selected {
    background-color: #28a745; /* Fondo verde cuando está seleccionado */
    color: #fff; /* Color del texto cuando está seleccionado */
    border-color: #28a745; /* Color del borde cuando está seleccionado */
  }
  
  /* Estilo para botones normales */
  .btn.btn-outline-secondary {
    background-color: transparent; /* Fondo transparente por defecto */
    color: #007bff; /* Color del texto normal */
    border-color: #007bff; /* Color del borde normal */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para cambios */
  }
  
  /* Estilo hover para botones */
  .btn.btn-outline-secondary:hover {
    background-color: #007bff; /* Color de fondo al pasar el mouse */
    color: #fff; /* Color del texto al pasar el mouse */
    border-color: #007bff; /* Color del borde al pasar el mouse */
  }
  
  /* Estilo activo (cuando se hace clic) para botones */
  .btn.btn-outline-secondary:active {
    background-color: #28a745; /* Color de fondo cuando se hace clic */
    color: #fff; /* Color del texto cuando se hace clic */
    border-color: #28a745; /* Color del borde cuando se hace clic */
  }
  