<!-- turno-form.component.html -->
<div class="main-container">
    <h2>Gestión de Turnos</h2>
    
    <button class="toggle-button" (click)="toggleFormulario()" (click)="listarHorarios()">
      {{ mostrarFormulario ? 'Ocultar Formulario' : 'Mostrar Formulario' }}
    </button>
  
    <div *ngIf="mostrarFormulario" class="form-container">
      <form [formGroup]="turnoForm" (ngSubmit)="onSubmit()" class="formulario-turno">
        <div class="form-group">
          <label for="especialidad">Horarios disponibles</label>
          <div class="form-group">
                <button *ngFor="let dia of horariosDisponibles"
            type="button"
            class="btn btn-outline-secondary"
            [ngClass]="{ 'selected': dia.dia === formatDate(dia.dia) }"
            (click)="cargarHorarioSeleccionado(dia)">
            {{ formatDate(dia.dia) }} - {{ dia.horaInicio }} - {{ dia.horaFin }}
          </button>
          </div>
        </div>
        <div class="form-group">
          <label for="especialidad">Especialidad</label>
          <input id="especialidad" formControlName="especialidad" type="text" readonly/>
        </div>
        <div class="form-group">
          <label for="mailEspecialista">Email del Especialista</label>
          <input id="mailEspecialista" formControlName="mailEspecialista" type="email" readonly/>
        </div>
        <div class="form-group">
          <label for="comentario">Comentario</label>
          <textarea id="comentario" formControlName="comentario"></textarea>
        </div>
        <div class="form-group">
          <label for="estado">Estado</label>
          <select id="estado" formControlName="estado">
            <option value="pendiente">Pendiente</option>
            <option value="confirmado">Confirmado</option>
            <option value="cancelado">Cancelado</option>
            <option value="realizado">Realizado</option>
          </select>
        </div>
        <!--  <button type="submit" [disabled]="turnoForm.invalid"
           class="submit-button">Enviar</button>-->
      </form>
    </div>
  </div>
  
  