/* Estilo del primer contendor principal */
.flex-container {
  display: flex;
  justify-content: space-between; /* Esto alinea los elementos con espacio entre ellos */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas si es necesario */
}

.main-container {
  display: flex; /* Utilizamos flexbox para organizar los elementos */
  justify-content: space-between; /* Alinea los contenedores a los extremos */
  align-items: center; /* Centra verticalmente los elementos */
  margin-top: 20px; /* Espacio opcional desde la parte superior */
  padding: 20px; /* Añade un padding interno para separación */
  background-color: #f0f0f0; /* Color de fondo */
  border: 1px solid #ccc; /* Borde del contenedor */
  border-radius: 8px; /* Bordes redondeados */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan */
}

/* Estilo para el contenedor del dropdown */
.dropdown-container {
  position: relative;
  display: inline-block;
  width: 100%; /* Ajuste del ancho a 100% para ser responsive */
  max-width: 300px; /* Ancho máximo del contenedor */
  margin-bottom: 10px; /* Espacio entre contenedores */
}

/* Estilo para el botón principal */
.dropdown-button {
  background-color: #000a97;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 100%; 
  white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
  overflow: hidden; /* Oculta el desbordamiento de texto */
  text-overflow: ellipsis; /* Añade puntos suspensivos al texto desbordante */
}

.dropdown-button:hover {
  background-color: #0056b3;
}

/* Icono de flecha hacia abajo */
.dropdown-button i {
  margin-left: 5px;
}

/* Estilo para la lista desplegable */
.dropdown-list {          
  top: calc(100% + 5px); /* Lo coloca justo debajo del botón principal con un pequeño espacio */
  left: 0; /* Lo alinea a la izquierda del contenedor */
  background-color: #007bff; /* Color de fondo */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 4px; /* Bordes redondeados */
  padding: 0; /* Sin relleno dentro del contenedor */
  width: 100%; /* Ancho completo del contenedor */
  max-height: 200px; /* Altura máxima con scroll si es necesario */
  overflow-y: auto; /* Scroll vertical si es necesario */
}

/* Estilo para la lista desplegable cuando está activa */
.dropdown-list.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/* Estilo para los botones de las especialidades */
.dropdown-item-button {
  display: block;
  width: 100%;
  padding: 12px 16px;
  text-align: left;
  font-size: 14px;
  color: #333;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
  overflow: hidden; /* Oculta el desbordamiento de texto */
  text-overflow: ellipsis; /* Añade puntos suspensivos al texto desbordante */
}

.dropdown-item-button:hover {
  background-color: #f2f2f2;
}

/* Estilo para el input del nombre del especialista */
.dropdown-container input {
  width: calc(100% - 40px); /* Ajuste del ancho para incluir el botón de búsqueda */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px; /* Espacio entre el input y el botón */
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}

.dropdown-container button {
  width: 100%; /* Ancho completo para que sea responsive */
}

.dropdown-container .dropdown-button {
  margin-top: 10px; /* Espacio entre el input y el botón */
}

@media (min-width: 576px) {
  .dropdown-button {
      width: 80%; /* Ajuste para pantallas pequeñas */
  }
}

@media (min-width: 768px) {
  .dropdown-button {
      width: 60%; /* Ajuste para pantallas medianas */
  }
}

@media (min-width: 992px) {
  .dropdown-button {
      width: 50%; /* Ajuste para pantallas grandes */
  }
}

@media (min-width: 1200px) {
  .dropdown-button {
      width: 40%; /* Ajuste para pantallas extra grandes */
  }
}

.especialidad-button {
  width: 100px; /* Define el ancho del botón */
  height: 100px; /* Define la altura del botón para que sea cuadrado */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.medicos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-height: 100vh; /* Máxima altura de la pantalla */
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 15px; /* Marco redondeado */
  background-color: #f0f0f0;
  overflow-y: auto; /* Permite el scroll si el contenido excede la altura */
  overflow-x: hidden; /* Evita el scroll horizontal */
}

/* parte de la impresion de los botones del medico */
.medicos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Distribuye los elementos equitativamente a lo ancho */
  align-items: center;
  padding: 20px;
  width: 100%;
  max-height: 100vh; /* Máxima altura de la pantalla */
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 15px; /* Marco redondeado */
  background-color: #f0f0f0;
  overflow-y: auto; /* Permite el scroll si el contenido excede la altura */
  overflow-x: hidden; /* Evita el scroll horizontal */
}

.medico-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  min-width: 200px; /* Ancho mínimo del botón */
  max-width: 300px; /* Máximo ancho del botón */
  height: 80px; /* Altura del botón */
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  text-align: left;
  overflow: hidden;
}

.profile-image {
  width: 50px; /* Ancho de la imagen */
  height: 50px; /* Altura de la imagen */
  border-radius: 50%; /* Hace que la imagen sea redonda */
  margin-right: 10px;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.info h3 {
  margin: 0;
  font-size: 14px; /* Tamaño del texto del nombre */
}

.info p {
  margin: 0;
  font-size: 12px; /* Tamaño del texto de las especialidades */
  color: #666;
}

/*especilidades container*/

.especialidades-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.especialidad-item {
  margin: 10px;
}

.especialidad-button {
  background-color: lightgray;
  border: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.especialidad-button img {
  border-radius: 50%; /* Para hacer la imagen redonda */
  margin-bottom: 5px;
}
/* boton default*/
.round-image {
  border-radius: 50%; /* Hace que la imagen tenga bordes redondeados */
}
.round-button {
  border-radius: 50%; /* Hace que el botón tenga bordes redondeados */
}


/* Estilos generales para los botones de especialidad */
.especialidad-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0; /* Color de fondo */
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

.especialidad-button:hover {
  background-color: #e0e0e0; /* Color de fondo al pasar el mouse */
}

/* Estilos para la imagen dentro del botón */
.especialidad-button img {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Borde redondeado para la imagen */
  margin-bottom: 5px; /* Espacio entre la imagen y el texto */
}

/* Estilos para el texto dentro del botón */
.especialidad-button span {
  overflow: hidden; /* Evita que el texto sobresalga del borde */
  text-overflow: ellipsis; /* Muestra puntos suspensivos si el texto es demasiado largo */
  white-space: nowrap; /* Evita saltos de línea */
}

/* Estilos para el botón redondo */
.round-button {
  width: 200px; /* Ancho del botón */
  height: 200px; /* Alto del botón */
  border-radius: 50%; /* Borde redondeado */
}

/* Animación para el botón al hacer hover */
.especialidad-button:hover {
  transform: scale(1.1); /* Escala el botón al 110% en hover */
}
