<div class="login-wrapper">
  <!-- COLUMNA IZQUIERDA: Formulario de Login -->
  <div class="login-left">
    <img
        src="logo_clinica.jpg"
        alt="Imagen de administrador"
        class="logo-clinnica-img"
      />
    <h2 class="login-title">Inicio de Sesión</h2>
    <p class="login-subtitle">
      ¡Bienvenido de nuevo! Ingresa tu correo y contraseña para acceder.
    </p>
    <form>
      <div class="form-group">
        <label for="email">Correo Electrónico:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          [(ngModel)]="email"
          name="email"
          placeholder="Introduce tu correo"
        />
      </div>

      <div class="form-group">
        <label for="pwd">Contraseña:</label>
        <input
          type="password"
          class="form-control"
          id="pwd"
          [(ngModel)]="password"
          name="password"
          placeholder="Introduce tu contraseña"
        />
      </div>

      <button
        type="button"
        class="btn-login"
        (click)="goToPag()"
      >
        Inciar Sesión
      </button>
      <button
      type="button"
      class="btn-regresar"
      (click)="gotoWelcome()"
    >
      Regresar
    </button>
    </form> <!-- <-- Cierra el form -->
  </div> <!-- <-- Cierra el div de login-left -->

  <!-- COLUMNA DERECHA: Botones de Roles -->
  <div class="login-right">
    <h3 class="roles-title">Selecciona un Usuario</h3>
    <p class="roles-subtitle">Haz clic en un Usuario para autocompletar.</p>

    <button
      type="button"
      class="btn-rol"
      (click)="completeFieldsAdministrator()"
    >
      <img
        src="perfil1.webp"
        alt="Imagen de administrador"
        class="perfil-img"
      />
      Jose Briceño ADMINISTRADOR
    </button>

    <button
      type="button"
      class="btn-rol"
      (click)="completeFieldsDoctor1()"
    >
      <img
        src="perfil.webp"
        alt="Imagen de doctor"
        class="perfil-img"
      />
      Kervin Briceno DOCTOR
    </button>

    <button
      type="button"
      class="btn-rol"
      (click)="completeFieldsPatientTres()"
    >
      <img
        src="marisol.webp"
        alt="Imagen de paciente"
        class="perfil-img"
      />
      Marisol Huerta PACIENTE
    </button>

    <button
      type="button"
      class="btn-rol"
      (click)="completeFieldsPatientDOS()"
    >
      <img
        src="keiver.webp"
        alt="Imagen de paciente"
        class="perfil-img"
      />
      Keiver Briceño PACIENTE
    </button>

    <button
      type="button"
      class="btn-rol"
      (click)="completeFieldsDoctor()"
    >
      <img
        src="Donald.webp"
        alt="Imagen de doctor"
        class="perfil-img"
      />
      Donald Trump DOCTOR
    </button>

    <button
      type="button"
      class="btn-rol"
      (click)="completeFieldsDoctor5()"
    >
      <img
        src="DOCTOR3.webp"
        alt="Imagen de doctor"
        class="perfil-img"
      />
      Vicente Briceño DOCTOR
    </button>
  </div>
</div>
