<div class="top-bar">
    <div class="facebook-container">
      <div class="profile-picture">
        <img src="logo_clinica.jpg" alt="Logo de la clínica" class="profile-img">
      </div>
      <div class="clinica-text">
        Clinica Virtual
      </div>
    </div>
    <div class="user-info" *ngIf="currentUser">
      <span class="blue-text" [innerHTML]="(administrador?.nombre ?? '') | capitalize"></span><span class="separator"> | </span>
      <span class="blue-text">{{ administrador?.apellido }}</span><span class="separator"> | </span>
      <span class="blue-text">{{ administrador?.dni }}</span><span class="separator"> | </span>
      <span class="blue-text" [innerHTML]="(administrador?.rol ?? '') | capitalize"></span><span class="separator"> | </span>
      <span class="blue-text">{{ administrador?.mail }}</span><span class="separator"> | </span>
      <div class="profile-picture">
        <img *ngIf="userProfile1ImageUrl" [src]="userProfile1ImageUrl" alt="Imagen de perfil 1" [style.width.px]="40" [style.height.px]="40">
        <div *ngIf="!userProfile1ImageUrl">Imagen no disponible</div>
      </div>
    </div>
    <div *ngIf="!currentUser">
      <span>No hay usuario autenticado.</span>
    </div>
  </div>
  