<div *ngIf="idioma === 'es-ES'">
  <div>
      <app-cabecera></app-cabecera>
    </div>
    <nav class="containerBody">
    <div class="container">
      <nav class="pictureSpecialistAdministrator">
        <div class="specialist-container" (click)="navigateMiPerfil()">
          <p class="magazine-style">Perfil especialista</p>
          <img src="perfil-medico-ico.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="navigateAdministradorEspecial()">
          <p class="magazine-style">Creacion turno</p>
          <img src="registe-ico.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="navigateAdministradorEspecialLlenarHistoria()">
          <p class="magazine-style">Historia clinica</p>
          <img src="creacion_historia_clinica.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="navigateAdministradorEspecialListaHistoriaclinica()">
          <p class="magazine-style">Descarga PDF</p>
          <img src="pdfCambiar.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
      </nav>
    </div>
  </nav>
</div>

<div *ngIf="idioma === 'en-GB'">
    <div>
      <app-cabecera></app-cabecera>
    </div>
    <nav class="containerBody">
    <div class="container">
      <nav class="pictureSpecialistAdministrator">
        <div class="specialist-container" (click)="navigateMiPerfil()">
          <p class="magazine-style">Specialist Profile</p>
          <img src="perfil-medico-ico.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="navigateAdministradorEspecial()">
          <p class="magazine-style">Appointment Creation</p>
          <img src="registe-ico.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="navigateAdministradorEspecialLlenarHistoria()">
          <p class="magazine-style">Medical History</p>
          <img src="creacion_historia_clinica.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="navigateAdministradorEspecialListaHistoriaclinica()">
          <p class="magazine-style">Download PDF</p>
          <img src="pdfCambiar.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
      </nav>
    </div>
  </nav>
</div>

<div *ngIf="idioma === 'pt-BR'">
    <div>
      <app-cabecera></app-cabecera>
    </div>
    <nav class="containerBody">
    <div class="container">
      <nav class="pictureSpecialistAdministrator">
        <div class="specialist-container" (click)="navigateMiPerfil()">
          <p class="magazine-style">Perfil do Especialista</p>
          <img src="perfil-medico-ico.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="navigateAdministradorEspecial()">
          <p class="magazine-style">Criação de Consulta</p>
          <img src="registe-ico.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="navigateAdministradorEspecialLlenarHistoria()">
          <p class="magazine-style">História Clínica</p>
          <img src="creacion_historia_clinica.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="navigateAdministradorEspecialListaHistoriaclinica()">
          <p class="magazine-style">Baixar PDF</p>
          <img src="pdfCambiar.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
      </nav>
    </div>
  </nav>
</div>