<div class="grafico-container">
  <h3>Turnos por día</h3>
  <button class="btn-download" >
    <img src="download.png" alt="Descargar PDF" class="icon" />
  </button>
  <canvas
    #chartAccesos
    baseChart
    [data]="barChartData"
    [options]="barChartOptions"
    [type]="'bar'"
  ></canvas>
</div>

<div class="grafico-container">
  <h3>Turnos por especialidad</h3>
  <canvas
    #chartEspecialidades
    baseChart
    [data]="barChartDataEspecialidades"
    [options]="barChartOptions"
    [type]="'bar'"
  ></canvas>
</div>

<div class="grafico-container">
  <h3>Turnos por día</h3>
  <button class="btn-download">
    <img src="download.png" alt="Descargar PDF" class="icon" />
  </button>
  <canvas
    #chartTurnosPorDia
    baseChart
    [data]="barChartDataTurnosPorDia"
    [options]="barChartOptions"
    [type]="'bar'"
  ></canvas>
</div>


<div class="medicos-container">
  <h3>Médicos disponibles</h3>
  <div class="medico-botones">
    <button 
      *ngFor="let medico of medicos"
      class="btn-medico"
      (click)="seleccionarMedico(medico)">
      {{ medico.nombre }} {{ medico.apellido }}
    </button>
  </div>
</div>
