<div *ngIf="idioma === 'es-ES'">
  <nav class="containerBody">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="logo_clinica.jpg" alt="Logo" width="40" height="35" class="d-inline-block align-text-top">
          Clínica Online
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <button (click)="navigatewelcome()" class="nav-link">Home</button>
            </li>
            <li class="nav-item">
              <button (click)="navigateTDoctor()" class="nav-link">Administrador de Especialistas</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <nav class="pictureSpecialistAdministrator">
        <div class="specialist-container" (click)="showMessageOne()">
          <p class="magazine-style">Breve Historia de la Clinica</p>
          <img src="SpecialistAdministrator.jpg" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="showMessageTwo()">
          <p class="magazine-style">Mision y Vision de la Clinica</p>
          <img src="SpecialistAdministrator2.jpg" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="showMessageThree()">
          <p class="magazine-style">Consejos para seleccionar</p>
          <img src="SpecialistAdministrator3.jpg" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="navigateTDoctor()">
          <p class="magazine-style">Seleccionar medico</p>
          <img src="doctor-ico.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="solicitudTurnoAdmin()">
          <p class="magazine-style">Carga Turno</p>
          <img src="calendario-ico.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="administracionturno()">
          <p class="magazine-style">Administracion turno</p>
          <img src="administracionTurno.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="seccionUsuario()">
          <p class="magazine-style">Seccion usuario</p>
          <img src="guardar.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="seccionGraficos()">
          <p class="magazine-style">Adminstrador de Gráficos</p>
          <img src="graphics.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
      </nav>
    </div>
  </nav>
</div>

<div *ngIf="idioma === 'en-GB'">
  <nav class="containerBody">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="logo_clinica.jpg" alt="Logo" width="40" height="35" class="d-inline-block align-text-top">
          Online Clinic
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <button (click)="navigatewelcome()" class="nav-link">Home</button>
            </li>
            <li class="nav-item">
              <button (click)="navigateTDoctor()" class="nav-link">Specialist Manager</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <nav class="pictureSpecialistAdministrator">
        <div class="specialist-container" (click)="showMessageOne()">
          <p class="magazine-style">Brief History of the Clinic</p>
          <img src="SpecialistAdministrator.jpg" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="showMessageTwo()">
          <p class="magazine-style">Mission and Vision of the Clinic</p>
          <img src="SpecialistAdministrator2.jpg" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="showMessageThree()">
          <p class="magazine-style">Tips for Selecting</p>
          <img src="SpecialistAdministrator3.jpg" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="navigateTDoctor()">
          <p class="magazine-style">Select Doctor</p>
          <img src="doctor-ico.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="solicitudTurnoAdmin()">
          <p class="magazine-style">Schedule Appointment</p>
          <img src="calendario-ico.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="administracionturno()">
          <p class="magazine-style">Appointment Management</p>
          <img src="administracionTurno.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="seccionUsuario()">
          <p class="magazine-style">User Section</p>
          <img src="guardar.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="seccionGraficos()">
          <p class="magazine-style">Graphics Manager</p>
          <img src="graphics.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
      </nav>
    </div>
  </nav>
</div>

<div *ngIf="idioma === 'pt-BR'">
  <nav class="containerBody">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="logo_clinica.jpg" alt="Logo" width="40" height="35" class="d-inline-block align-text-top">
          Clínica Online
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <button (click)="navigatewelcome()" class="nav-link">Lar</button>
            </li>
            <li class="nav-item">
              <button (click)="navigateTDoctor()" class="nav-link">Administrador de Especialistas</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <nav class="pictureSpecialistAdministrator">
        <div class="specialist-container" (click)="showMessageOne()">
          <p class="magazine-style"> Breve História da Clínica</p>
          <img src="SpecialistAdministrator.jpg" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="showMessageTwo()">
          <p class="magazine-style"> Missão e Visão da Clínica</p>
          <img src="SpecialistAdministrator2.jpg" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="showMessageThree()">
          <p class="magazine-style">Dicas para Selecionar</p>
          <img src="SpecialistAdministrator3.jpg" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="navigateTDoctor()">
          <p class="magazine-style">Selecionar Médico</p>
          <img src="doctor-ico.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="solicitudTurnoAdmin()">
          <p class="magazine-style">Agendar Consulta</p>
          <img src="calendario-ico.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="administracionturno()">
          <p class="magazine-style">Gerenciamento de Consultas</p>
          <img src="administracionTurno.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="seccionUsuario()">
          <p class="magazine-style">Seção de Usuário</p>
          <img src="guardar.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
        <div class="specialist-container" (click)="seccionGraficos()">
          <p class="magazine-style">Gerenciador de Gráficos</p>
          <img src="graphics.png" class="img-fluid" alt="Specialist Administrator Image">
        </div>
      </nav>
    </div>
  </nav>
</div>