<div class="header">
    <img src="clinic-icon.png" alt="Clinic Icon" class="clinic-icon">
    <h1 class="header-title">Bienvenido a esta nueva experiencia</h1>
    <p>Regístrate y serás parte de esta plataforma creada para tu salud y la de todos los miembros</p>
  </div>
  
  <div class="button-container">
    <button class="button">
      <img src="doctor-ico.png" alt="Especialista" class="button-image" (click)="goRegisterDoctor()">
      <span>Especialista</span>
    </button>
    <button class="button">
      <img src="patient-ico.png" alt="Paciente" class="button-image" (click)="goRegisterPatient()">
      <span>Paciente</span>
    </button>
  </div>
  